.vspace-10 {
  height: 10px;
}

.vspace-25 {
  height: 25px;
}

.vspace-50 {
  height: 50px;
}

.vspace-75 {
  height: 75px;
}

.vspace-100 {
  height: 100px;
}

.vspace-200 {
  height: 200px;
}



.hspace-10 {
  width: 10px;
}

.hspace-25 {
  width: 25px;
}

.hspace-50 {
  width: 50px;
}

.hspace-75 {
  width: 75px;
}

.hspace-100 {
  width: 100px;
}

.hspace-200 {
  width: 200px;
}