$container-padding: 12px;
$container-gutter: 20px;

$navbar-item-spacing: 25px;

$hamburger-menu-width: 33px;
$hamburger-menu-slice-height: 4px;
$hamburger-menu-slice-margin: 5px;
$hamburger-menu-slice-border-radius: 3px;